  .projects .project .code {
    box-shadow: 0 0 5px var(--main-color),
      0 0 8px var(--main-color);
      transition: all 0.3s ease;
  }
  .projects .project .demo {
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .projects .project {
    transition: all ease-out 0.3s;
    background-color: var(--main-color);
    color: black;
    border-radius: 20px;
  }

  .projects .project:hover{
    border-radius: 0;
  }
