
  .project-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
  }
  .code {
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    position: relative; /* Ensures pseudo-elements are positioned relative to the button */
    overflow: hidden; /* Ensures effects stay within the button bounds */
  }
  
  .code:hover {
    background-color: #d82d25; /* Change background color on hover */
    transform: translateY(-2px); /* Adds a slight upward movement */
    box-shadow: 0 8px 15px rgba(28, 70, 112, 0.2); /* Attractive shadow effect */
  }
  .code::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.301), transparent);
    transform: skewX(-45deg);
    transition: all 0.3s ease-in-out;
  }
  
  .code:hover::before {
    left: 100%;
  }