.CircularProgressbar .CircularProgressbar-path{
    stroke: var(--main-color);
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    padding: 0 50px;
    place-self: center;
}

.label {
    display: none;
    background-color: #646464;
}